.fren-footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  padding: 14px 12px;
  border-radius: 14px;
  background: linear-gradient(101deg, #ffa800 25.94%, #f47e3c 94.32%);
  box-shadow: 0 2px 28px #00001c0f, 0 0 1px #00001c1f;
  flex-grow: 1;
  position: fixed;
  bottom: 16px;
  left: 14px;
  right: 14px;
  cursor: pointer;
}

.coin-min-icon {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/coin-min.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.influencer-icon {
  margin-left: 24px;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/influencer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.crown-icon {
  margin-left: 24px;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  // background-image: url("../../assets/images/influencer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.vertical-line {
  margin-left: 24px;
  height: 24px;
  width: 1px;
  background-color: rgba(235, 235, 245, 0.06);
}

.fren-page {
  &__header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px 12px;
    width: 100%;
    margin-top: 23px;
  }
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 112px 12px;
    margin-top: 12px;
  }
  &__center-content {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 45px 12px;
    margin-top: 14px;
  }
  &__list-content {
    display: flex;
    align-items: center;
  }
  &__header-btn-content {
    display: flex;
    align-items: center;
  }
}

.black-transparent {
  border-radius: 14px;
  // backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.12);

  &_with-icon {
    svg {
      flex-shrink: 0;
      color: rgb(112, 117, 121);
    }
  }
}

._coin-icon {
  // margin-right: 24px;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/images/moneta-small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.fren-page {
    &__bear-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bear-icon {
        font-size: 48px;
    }
}

.qV5z {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rRnL {
  position: fixed;
  top: 20px;
  left: 100px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.FLHU {
  position: fixed;
  top: 50px;
  left: 100px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.moneta-small-icon-position {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.mzQl {
  position: fixed;
  top: 100px;
  left: 100px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.i4hs {
  position: fixed;
  top: 130px;
  left: 100px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.prem-icon-position {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.fren-icon {
  &__coin {
    background-image: url("../../assets/images/coin-min.svg");
  }
  &__prem {
    background-image: url("../../assets/images/prem.png");
  }
}

.open-details-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  padding: 14px 12px;
  border-radius: 14px;
  background: transparent;
  flex-grow: 1;
  bottom: 8px;
  left: 14px;
  right: 14px;
  cursor: pointer;
  &:active {
    background-color: #29292c;
  }
}

.fren-animation {
  opacity: 0; /* Начальная прозрачность */
  animation: fren-opacity 0.5s forwards; /* Название анимации и время */
}

@keyframes fren-opacity {
  from {
    opacity: 0; /* Начальное значение прозрачности */
  }
  to {
    opacity: 1; /* Конечное значение прозрачности */
  }
}