.background-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: background-position;
  transition: cubic-bezier(0.7, 0.55, 0.42, 0.33) 0.15s background-position;
}

.background-color {
  &__type-bronze {
    background: url("../../assets/images/main-bg-bronze.png") no-repeat center
      center/cover #000;
  }
  &__type-silver {
    background: url("../../assets/images/main-bg-silver.png") no-repeat center
      center/cover #000;
  }
  &__type-gold {
    background: url("../../assets/images/main-bg-gold.png") no-repeat center
      center/cover #000;
  }
  &__type-platinum {
    background: url("../../assets/images/main-bg-platinum.png") no-repeat center
      center/cover #000;
  }
  &__type-diamond {
    background: url("../../assets/images/main-bg-diamond.png") no-repeat center
      center/cover #000;
  }
  &__type-dragon {
    background: url("../../assets/images/dragon_bg_gradient.png") no-repeat center center/cover #000;
  }
  &__type-soon {
    background: url("../../assets/images/soon_bg.jpeg") no-repeat center center/cover #000;
  }
  &__type-gta {
    background: url("../../assets/images/gta_bg.png") no-repeat center center/cover #000;
  }
  &__type-eggs {
    background: url("../../assets/images/main-bg-eggs.png") no-repeat center center/cover #000;
  }
  &__type-fallout {
    background: url("../../assets/images/main-bg-fallout.jpg") no-repeat center center/cover #000;
  }
  &__type-galleon {
    background: url("../../assets/images/main-bg-galleon.jpg") no-repeat center center/cover #000;
  }
}

.black-transparent-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px 12px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.12);
  // backdrop-filter: blur(14px);
  &:active {
    background-color: #007aff26;
  }
}

.icon-cup-position {
  margin-right: 6px;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.icon-cup {
  &__bronze {
    background-image: url("../../assets/images/Bronze-95.png");
  }
  &__silver {
    background-image: url("../../assets/images/Silver-95.png");
  }
  &__gold {
    background-image: url("../../assets/images/Gold-95.png");
  }
  &__platinum {
    background-image: url("../../assets/images/Platinum-95.png");
  }
  &__diamond {
    background-image: url("../../assets/images/Diamond-95.png");
  }
}

.icon-lighting {
  background-image: url("../../assets/images/lightning.png");
  // width: 18px;
  // height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.main-footer-btn {
  padding: 12px 14px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  backdrop-filter: blur(16px);
  &__caption {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
  &__fren-btn {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 2px 28px #00001c0f, 0 0 1px #00001c1f;
    margin-right: 5px;
  }
  &__boost-btn {
    background: linear-gradient(101deg, #ffa800 25.94%, #f47e3c 94.32%);
    box-shadow: 0 2px 28px #00001c0f, 0 0 1px #00001c1f;
  }
}

.main-animation {
  opacity: 0;
  animation: main-opacity 0.25s forwards;
}

@keyframes main-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

._laurelIconReversed_xg9t0_15 {
  transform: scaleX(-1);
}


.rocket-show-animation {
  opacity: 0;
  animation: rocket-show-opacity 1s forwards;
}

@keyframes rocket-show-opacity {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

.rocket-close-anumation {
  opacity: 1;
  animation: rocket-close-opacity 1s forwards;
}

@keyframes rocket-close-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}